{% set map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['openvpn'],
        'service': 'openvpn',
        'conf_dir': '/etc/openvpn',
        'user': 'nobody',
        'group': 'nogroup',
    },
    'Ubuntu': {
        'pkgs': ['openvpn'],
        'service': 'openvpn',
        'conf_dir': '/etc/openvpn',
        'user': 'nobody',
        'group': 'nogroup',
    },

}, grain='os', merge=salt['pillar.get']('openvpn:lookup')) %}
